/*tablet overriding styles*/
@media screen and (min-width: 768px) {
  nav {
    padding-top: 20px;
  }

  nav .col-md-4:not(:last-child) {
    border-right: solid;
    border-width: 2px;
    border-color: #777777;
  }

  .main {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right:30px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #about-img {
    margin-right: 10px;
    float: left;
  }

  /*main portfolio images*/
  .portfolio-full img {
    height: 180px;
    width: 250px;
  }

  .portfolio-full{
    margin-bottom: 20px;
    width: 250px;
    padding-left: 0;
  }

  .portfolio-label {
    height: 1.5em;
    font-size: 1.6em;
    top: 75%;
  }

  .portfolio .portfolio-full:nth-child(even) {
    float: right;
  }

  .portfolio .portfolio-full:nth-child(odd) {
    float: left;
  }

  .connect {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right:30px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  footer {
    height: 80px;
  }
}